## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC


## -- API configs -- ##
DFG_API_PORT=8000
# DFG_API_LOGS_DIR="/var/log/rest.device-fp-gate"
# DFG_API_DATA_DIR="/var/lib/rest.device-fp-gate"
# DFG_API_VERSION="1"
# DFG_API_PREFIX="/api/v{api_version}"
# DFG_API_DOCS_ENABLED=true
# DFG_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# DFG_API_DOCS_DOCS_URL="{api_prefix}/docs"
# DFG_API_DOCS_REDOC_URL="{api_prefix}/redoc"



## -- Docker build args -- ##
# HASH_PASSWORD="\$5\$UN1S7dZEa/qDoijJ\$hJ5o.Wpp5aP2kp.46Y7lWgcsRE8/oRLVswU6Swi13fB" # !!! CHANGE THIS TO REAL HASHED PASSWORD !!!
# IMG_ARGS="--build-arg HASH_PASSWORD=${HASH_PASSWORD}"


## -- Extra -- ##
# PROJECT_SLUG=rest.device-fp-gate
